.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
}

.navbar-container {
  width: 75%;
  margin: 0 auto;
  padding: 3em 1em;
  display: flex;
}

.logo {
  flex: 3;
}

.nav-items {
  flex: 2;
}

.nav-items {
  display: flex;
}

.nav-items > div {
  flex: 1;
}

.langs {
  display: flex;
  gap: 2em;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1em;
}

.logo a {
  text-decoration: none;
  display: flex;
  gap: 0.25em;
  align-items: center;
}

.logo a h3 {
  color: var(--light);
  letter-spacing: 0.15em;
  font-size: 46px; /* Font size for "Context" */
  font-weight: bold; /* Example of different style */
  font-family: "Arial", sans-serif; /* Example of different font family */
}

.logo a span {
  position: relative;
  top: 0.75px;
  font-family: "Roobert";
  font-size: 27px; /* Font size for "Partners" */
  font-weight: 500;
  color: var(--light);
  font-style: italic; /* Example of different style */
  font-family: "Times New Roman", serif; /* Example of different font family */
}

.nav-links a {
  text-decoration: none;
}

.langs p,
.nav-links a p {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px; /* Increased font size */
  font-weight: bold; /* Increased font weight */
  color: #B0B0B0; /* Changed color to a greyish tone */
}

p.current-lang {
  color: var(--light);
}

.navbar .logo a h3,
.navbar p.current-lang {
  transition: color 0.5s ease;
}

.navbar.dark .logo a h3,
.navbar.dark .logo a span {
  color: var(--dark);
}

.navbar.dark p.current-lang {
  color: var(--dark);
}

@media (max-width: 1200px) {
  .navbar-container {
    width: 85%;
  }

  .logo a h3 {
    font-size: 40px; /* Adjusted font size for "Context" */
  }

  .logo a span {
    font-size: 24px; /* Adjusted font size for "Partners" */
  }

  .langs p,
  .nav-links a p {
    font-size: 14px; /* Adjusted font size for nav links */
  }
}

@media (max-width: 900px) {
  .navbar-container {
    width: 100%;
    padding: 2em 1em;
  }

  .logo a h3 {
    font-size: 36px; /* Adjusted font size for "Context" */
  }

  .logo a span {
    font-size: 22px; /* Adjusted font size for "Partners" */
  }

  .langs p,
  .nav-links a p {
    font-size: 12px; /* Adjusted font size for nav links */
  }
}

@media (max-width: 600px) {
  .navbar-container {
    width: 100%;
    padding: 1.5em 1em;
  }

  .logo a h3 {
    font-size: 32px; /* Adjusted font size for "Context" */
  }

  .logo a span {
    font-size: 20px; /* Adjusted font size for "Partners" */
  }

  .langs p,
  .nav-links a p {
    font-size: 10px; /* Adjusted font size for nav links */
  }
}
